@import "tailwindcss";

@theme {
  --color-primary: #0d0d0d;
  --color-accent: #0c6a3a;
  --color-accent-hover: #08462a;
  --color-light: #faf8e9;
  --color-muted: #378f4e;
  --color-surface: #faf8e9;
  --color-accent-secondary: #abc340;
  --font-sans: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: #0d0d0d;
  background-color: #faf8e9;
}